name: PHP Composer

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set PHP version to 7.4
      uses: shivammathur/setup-php@v2
      env:
        runner: self-hosted
      with:
        php-version: '7.4'
        tools: composer

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Validate composer.json and composer.lock
      run: composer validate --strict